---
layout: default
title: Home
---
<section class="all-videos">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 trending-channels">
        <div class="row">
          <div class="col-xs-8 pd-m">
            <h2 class="titulo_video">All Jobs</h2>
          </div>
        </div>
        <div class="row">
          {% for post in paginator.posts %}
          <div class="col-sm-3 col-xs-6 pd-mm">
            <a href="{{ post.url }}" class="card">
              <h2>{{ post.title }}</h2>
              <span class="sub">{{ post.date | date_to_string }}</span>
              <p>{{ post.excerpt }}</p>
              <div class="subscribe"><i class="fa fa-file-text-o" aria-hidden="true"></i> Apply</div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="text-center">
      <nav>
        <ul class="pagination">
          <li>
            {% if paginator.next_page %}
            <a class="botao bt-handson bt-wd-m" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
            {% endif %}
            {% if paginator.previous_page %}
              {% if paginator.page == 2 %}
                <a class="botao bt-handson bt-wd-m" href="{{ site.baseurl }}">Newer</a>
              {% else %}
                <a class="botao bt-handson bt-wd-m" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
              {% endif %}
            {% endif %}
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
