<footer class="rodape">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-12 text-left-m pd-mm mbotom-m-30"><img src="/public/images/logo2.svg" alt=""></div>
      <div class="col-md-2 col-sm-2 text-left-m pd-mm mbotom-m-30">
        <h3 class="hidden-xs">HandsOn.TV</h3>
        <ul>
          <li><a href="/">Jobs</a></li>
          <li><a href="http://handson.tv/about">About Us</a></li>
          <li><a href="http://handson.tv/about">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4 text-left-m pd-mm mbotom-m-30">
        <h3 class="hidden-xs">Follow Us</h3>
        <div class="redes">
          <ul>
            <li><a href="https://www.facebook.com/TV.HandsOn" target="_blank"><img src="/public/images/r-facebook.svg" alt="facebook" title="facebook"></a></li>
            <li><a href="https://twitter.com/HandsOn_TV" target="_blank"><img src="/public/images/r-twitter.svg" alt="twitter" title="twitter"></a></li>
            <li><a href="https://www.youtube.com/user/TheHandsOnTV" target="_blank"><img src="/public/images/r-youtube.svg" alt="youtube" title="youtube"></a></li>
            <li><a href="https://www.instagram.com/handson_tv/" target="_blank"><img src="/public/images/r-instragram.svg" alt="instragram" title="instragram"></a></li>
            <li><a href="https://medium.com/@HandsOn_TV" target="_blank"><img src="/public/images/r-medium.svg" alt="medium" title="medium"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
